{{!< ../layout}}
{{#contentFor "headScripts"}}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vue-good-table@2.18.1/dist/vue-good-table.min.css">

{{/contentFor}}
<h4>Payments</h4>
<div id="app" class="col-lg-12">
  <order-component></order-component>
</div>
{{#contentFor "pageScripts"}}
 <script type="x-template" id="order-component">
   <div>
    <vue-good-table
      styleClass="vgt-table condensed"
      mode="remote"
      @on-row-dblclick="onRowDoubleClick"
      @on-page-change="onPageChange"
      @on-sort-change="onSortChange"
      @on-column-filter="onColumnFilter"
      @on-per-page-change="onPerPageChange"
      :pagination-options="{
        enabled: true,
      }"
      :totalRows="totalRows"
      :columns="columns"
      :rows="rows"/>
  </div>
 </script>
 <script src="//cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.min.js"></script>
 <script src="//cdn.jsdelivr.net/npm/vue-good-table@2.18.1/dist/vue-good-table.js"></script>
 <script>
   Vue.component('order-component', {
     template: '#order-component',
     delimiters: ['[[', ']]'],
     data: function () {
       return {
         columns:[
           {
             label: 'Order Date',
             field: 'OrderDate',
             type: 'date',
             dateInputFormat: "yyyy-MM-dd'T'HH:mm:ss.SSSxxx",
             dateOutputFormat: 'MMM. dd, yyyy',
           },
           {
             label: 'Posted Gross',
             field: 'PostedGross',
             type: 'decimal',
           },
           {
             label: 'Posted Net',
             field: 'PostedNet',
             type: 'decimal',
           },
           {
             label: 'Adjusted Gross',
             field: 'AdjustedGross',
             type: 'decimal',
           },
           {
             label: 'Adjusted Net',
             field: 'AdjustedNet',
             type: 'decimal',
           },
           {
             label: 'Status',
             field: 'Status'
           }
         ],
         isLoading: false,
         serverParams: {
           columnFilters: {
           },
           sort: {
             field: '',
             type: '',
           },
           page: 1,
           perPage: 10
         },
         totalRows: {{{ toJSON data.totalRows }}},
         rows: {{{toJSON data.items }}}
       };
     },
     methods: {
       updateParams(newProps){
         console.log('updated this param: %o', this.serverParams);
         this.serverParams = Object.assign({}, this.serverParams, newProps);
         console.log('to this: %o', this.serverParams);
       },
       onPageChange(params){
         this.updateParams({page: params.currentPage});
         this.loadItems();
       },
       onPerPageChange(params){
         this.updateParams({perPage: params.currentPerPage});
         this.loadItems();
       },
       onSortChange(params){
         this.updateParams({
           page: 1,
           sort:[{
             type: params[0].type,
             field: params[0].field,
           }],
         });
         this.loadItems();
       },
       onColumnFilter(params){
         this.updateParams(params);
         this.loadItems();
       },
       onRowDoubleClick(params){
         console.log(JSON.stringify(params));
         window.location.href = "/payments/" + params.row.PaymentID;
       },
       loadItems(){
         var self = this;
          getFromServer(this.serverParams).then(function(res){
            self.totalRows = res.totalRows;
            self.rows = res.rows;
          });
       },
     }
   });
   var app = new Vue({
     el: '#app',
     delimiters: ['[[', ']]'],
     data:{
       message:'Hello World',
     },
   });


  function getFromServer(params){
    return new Promise(function(resolve, reject){
      console.log('params %o', params);
      const url = '/api/payments';
      const options = {
        method: 'POST',
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json;charset=UTF-8'
        },
        body: JSON.stringify(params)
      };

      fetch(url, options)
        .then(function(response){ return response.json();})
        .then(function(data){
          console.log(data);
          resolve({
            totalRows: data.totalRows,
            rows: data.rows
          });
        });
    });
  }

 </script>
{{/contentFor}}


