{{!< layout.hbs}} 
<h4>St John Sales</h4>

<p>
  This application is here to help visualize the sales data that we get from our online sources like Etsy and Square
</p>
<p>
  Data from Etsy can be downloaded from Etsy
</p>
