{{!< layout}} 

<h3>Upload</h3>
<hr/>

{{#if message}}
<div class="toast" role="alert" aria-live="assertive" aria-atomic="true" style="position: absolute; top: 10; right: 0;" data-autohide="false">
  <div class="toast-header">
    
    <strong class="mr-auto">Thank you</strong>
    <small>11 mins ago</small>
    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="toast-body">
    Thanks for uploading your Data file. Make the call using id:{{processId}}
  <div class="progress">
  <div id="progressBar" class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
</div>
  </div>
</div>
{{/if}}

<h4>
  Submit Orders
</h4>
<form method="POST" action="/admin/upload/orders" enctype="multipart/form-data">
  <input type="file" name="orders" />
  <input type="submit" />
</form>


{{#contentFor "pageScripts"}}
<script>
  var processId = {{processId}}
  jQuery.noConflict();
  (function( $ ) {
    $(document).ready(function ($) {
      // Your code here
      console.log( "ready! " + processId );
      //$()
      $('.toast').toast('show');
      
      if(processId>0){
        run();
      }
      
      async function run(){
        let done = false;
        let timerId = setInterval(async () => {
        const response = await fetch(`/api/process/${processId}/details`);
        const myJson = await response.json();
        if(myJson[0]){
          $('#progressBar').attr('aria-valuenow', myJson[0].PercentDone).css('width', myJson[0].PercentDone);
          $('#progressBar').innerHTML = String(myJson[0].PercentDone) + '%'
          if(myJson[0].PercentDone === 100){
            done = true
          }
        }
      }, 2000);
        
      if(done){
        $('#progressBar').innerHTML = ''
        $('#progressBar').hide()
        clearInterval(timerId)
      }
   
  }
      
      
    });
})(jQuery);
 
</script>
{{/contentFor}}